.container {
    width: 800px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: dodgerblue;
}
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
#tb1 {
    color: cornflowerblue;;
}
#tb1 td {
    padding: 2px 18px;
}
#tb2 td, #tb2 th {
    border: 2px solid grey;
}
#tb2 td {
    text-align: left;
}
.end_col {
    text-align: right;
}

#tb2 td:first-child {
    text-align: center;
}

.head1 {
    background-color: yellow;
}

.r_2 {
    background-color: orange;
}

